html, body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    height: 100%;
}

main {
    background: linear-gradient(121.11deg, rgba(143, 233, 222, 0.81) 24.32%, rgba(143, 233, 222, 0.162) 92.82%);
    height: 100%;

    display: flex;
    justify-content: center;
}

.modal {
    height: 60%;
    width: 25%;
    padding: 2%;

    border-radius: 35px;
    background: linear-gradient(360deg, #FFFFFF 3.37%, rgba(255, 255, 255, 0) 96.63%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.modal .title {
    height: 5%;
    width: 100%;
    margin-bottom: 7%;

    display: flex;
}

.modal .title .close {
    font-size: 32px;
}

.modal .title .close:hover {
    color: grey;
    cursor: pointer;
}

.modal .title .imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal .title .imgContainer img {
    height: 100%;
}

.modal .actions {
    height: 15%;
    width: 100%;

    display: flex;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .modal {
        height: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .modal {
        width: 40%;
        height: 80%;
    }
}

@media screen and (max-width: 600px) {
    .modal {
        width: 70%;
        height: 95%;
    }
}